<div class="row align-items-center">
    <div class="col-sm-6 text-center text-sm-start">
        <div class="text-muted mb-0 text-sm">
            <i class="mdi mdi-information-outline"></i>
            &nbsp;
            {{ information }}
        </div>
    </div>
    <div class="col-sm-6">
        <form action="{{ action }}" method="GET" class="form-horizontal">
            {% for input in filters.hidden %}
                <input type="hidden" name="{{ input.name }}" value="{{ input.value }}">
            {% endfor %}
            <div class="float-sm-end pagination">
                <ul class="pagination pagination-sm mb-0 me-1">
                    {% for link in links %}
                        <li class="{{ link.parent_class }}">
                            <a href="{{ link.href }}" class="{{ link.class }}">
                                {{ link.label | raw }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="input-group input-group-sm">
                    {% for input in filters.select %}
                        <select name="{{ input.name }}" class="form-control">
                            {% for option in input.values %}
                                <option value="{{ option.value }}"{{ option.selected ? ' selected' : '' }}>{{ option.label }}</option>
                            {% endfor %}
                        </select>
                    {% endfor %}
                    {% for input in filters.number %}
                        <input type="number" name="{{ input.name }}" value="{{ input.value }}" min="{{ input.min }}" max="{{ input.max }}" class="form-control">
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">
                        OK
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>