<div class="opt-btn-overlap-fix"></div>
<div class="btn-group btn-group-sm rounded-0 opt-btn">
    {% for key, button in buttons %}
        {% if key <= 2 %}
            <a href="{{ button.url }}" class="btn {{ button.class }}" {% if button.new_tab %} target="_blank" {% endif %} {{ button.attribution | raw }}>
                <i class="{{ button.icon }}"></i>
                {{ button.label }}
            </a>
        {% elseif key == 3 %}
            <a href="javascript:void(0)" class="btn btn-secondary --open-item-option" data-options="{{ buttons | slice(3) | json_encode | escape }}">
                <i class="mdi mdi-format-list-bulleted"></i>
                {{ phrase('More') }}
            </a>
        {% endif %}
    {% endfor %}
</div>
<div class="modal --prevent-remove" id="searchModal" tabindex="-1" aria-labelledby="searchModalCenterTitle" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered ui-draggable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalCenterTitle">
                    <i class="mdi mdi-magnify"></i>
                    {{ phrase('Search data') }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ phrase('Close') }}"></button>
            </div>
            <div class="modal-body">
                <form action="{{ action }}" method="GET">
                    {% for name, filter in filters %}
                        {% if filter.type == 'text' %}
                            <div class="mb-3">
                                <input type="text" name="{{ name }}" value="{{ filter.values }}" placeholder="{{ filter.label }}" class="form-control">
                            </div>
                        {% elseif filter.type == 'select' %}
                            <div class="mb-3">
                                <select name="{{ name }}" placeholder="{{ filter.label }}" class="form-control">
                                    {% for option in filter.values %}
                                    <option value="{{ option.id }}" {% if option.selected %} selected {% endif %}>{{ option.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-primary">
                            <i class="mdi mdi-magnify"></i>
                            {{ phrase('Search') }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>