<div class="container-fluid">
    <div class="row bg-dark full-height">
        <div class="py-3 font-monospace">
            <p class="mb-0 text-success">
                [info@localhost ~]# aksara trace -exception
            </p>
            <p class="text-danger">
                {{ phrase('No response could be loaded') }}. 
                {{ phrase('Make sure to check the following mistake') }}:
            </p>
            <ol>
                <li class="text-danger">
                    {{ phrase('Module structure') }},
                </li>
                <li class="text-danger">
                    {{ phrase('Incorrect view path') }},
                </li>
                <li class="text-danger">
                    {{ phrase('Database table existence') }},
                </li>
                <li class="text-danger">
                    {{ phrase('Something caused by typo') }}
                </li>
            </ol>
            <p class="mb-0 text-success">
                [info@localhost ~]# <blink>_</blink>
            </p>
        </div>
    </div>
</div>