<div class="py-3">
    <div class="container-fluid">
        <form action="{{ links.current_page }}" method="POST" class="--validate-form" enctype="multipart/form-data">
            {% for name, params in results.field_data %}
                {% if params.type == 'geospatial' %}
                    {# Include form input component #}
                    {% include 'core/form_input.twig' with params %}
                {% endif %}
            {% endfor %}
            <div class="row">
                <div class="{% if results.column_total > 2 or results.form_size == 'form-xl' %} col-md-12 col-xxl-12 {% elseif results.column_total == 2 %} col-md-10 col-xxl-8 {% else %} col-md-6 col-xxl-6 {% endif %}">
                    <div class="row">
                        {# Find index within column total #}
                        {% for index in 1..results.column_total %}
                            <div class="col {{ results.column_size[index] }}">
                                {# Loop field data for matching column position by index #}
                                {% for name, params in results.field_data %}
                                    {% if index == params.position and params.type != 'geospatial' %}
                                        {% if results.set_heading[name] %}
                                            <h5> {{ results.set_heading[name] }} </h5>
                                        {% endif %}
                                        {% if results.merged_field[name] %}
                                            <div class="row">
                                                <div class="col {{ results.field_size[name] }}">
                                                    {# Include form input component #}
                                                    {% include 'core/form_input.twig' with params %}
                                                </div>

                                                {% for merged_field in results.merged_field[name] %}
                                                    {% if results.field_data[merged_field] %}
                                                        <div class="col {{ results.field_size[merged_field] }}">
                                                            {# Include form input component #}
                                                            {% include 'core/form_input.twig' with {params: results.field_data[merged_field]} %}
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        {% elseif not params.merged %}
                                            {# Include form input component #}
                                            {% include 'core/form_input.twig' with params %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    <div role="validation-callback"></div>
                </div>
            </div>
            <div class="opt-btn-overlap-fix"></div>
            <div class="row opt-btn">
                <div class="{% if results.column_total > 2 or results.form_size == 'form-xl' %} col-md-12 col-xxl-12 {% elseif results.column_total == 2 %} col-md-10 col-xxl-8 {% else %} col-md-6 col-xxl-6 {% endif %}">
                    <a href="{{ links.current_module }}" class="btn btn-link --xhr">
                        <i class="mdi mdi-arrow-left"></i>
                        {{ phrase('Back') }}
                    </a>
                    
                    <button type="submit" class="btn btn-primary float-end">
                        <i class="mdi mdi-check"></i>
                        {{ phrase('Submit') }}
                        <em class="text-sm d-none d-lg-inline">(ctrl+s)</em>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>