<div class="drawing-placeholder preloader position-relative w-100 overflow-hidden">
    <div role="map" id="map_{{ name }}" class="{{ class }}" data-coordinate="{{ value | escape }}" data-geojson="{{ content | escape }}" data-apply-coordinate-to="#{{ name }}_input" data-apply-address-to=".map-address-listener" data-geocoder="1" data-mousewheel="0" title="{{ placeholder }}" {{ attribution | raw }} style="height:360px"></div>
    <input type="hidden" name="{{ name }}" id="{{ name }}_input" value="{{ content | escape }}" {{ readonly }} />
</div>