<div data-provides="fileupload" class="fileupload fileupload-new text-sm-center w-100">
    <span class="btn btn-file d-block">
        <input type="file" name="{{ name }}" accept="{{ accept }}" role="image-upload" id="{{ name }}_input"{{ readonly }} />
        <div class="fileupload-new text-center">
            <img class="img-fluid upload_preview" src="{{ content }}" />
        </div>
        <button type="button" class="btn btn-sm btn-danger rounded-circle position-absolute top-0 end-0" onclick="jExec($(this).closest('.fileupload').find('input[type=file]').val(''), $(this).closest('.fileupload').find('img').attr('src', '{{ placeholder }}'))">
            <i class="mdi mdi-delete"></i>
        </button>
    </span>
</div>