<select name="{{ name }}" role="select" data-relation="{{ relation }}" class="form-control {{ class }}" id="{{ name }}_input" placeholder="{{ placeholder }}" {{ attribution | raw }} {{ readonly }}>
    {% for option in content %}
        <option value="{{ option.value }}" {% if option.selected %} selected {% endif %}>{{ option.label }}</option>
    {% endfor %}
</select>