<div class="attribution-input w-100">
    <div class="attribution-input-body">
        {% for label, value in content %}
            <div class="row mb-1">
                <div class="col-4 pe-0">
                    <input type="text" name="{{ name }}[label][]" value="{{ label }}" class="form-control form-control-sm" placeholder="{{ phrase('Label') }}" autocomplete="off" spellcheck="false" />
                </div>
                <div class="col-5 pe-0">
                    <input type="text" name="{{ name }}[value][]" value="{{ value }}" class="form-control form-control-sm" placeholder="{{ phrase('Value') }}" autocomplete="off" spellcheck="false" />
                </div>
                <div class="col-3">
                    <div class="btn-group btn-group-sm float-end">
                        <a href="javascript:void(0)" class="btn btn-secondary --move-up" data-element=".row" data-bs-toggle="tooltip" title="{{ phrase('Move Up') }}">
                            <i class="mdi mdi-arrow-collapse-up"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn btn-secondary --move-down" data-element=".row" data-bs-toggle="tooltip" title="{{ phrase('Move Down') }}">
                            <i class="mdi mdi-arrow-collapse-down"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn btn-secondary" role="remove-attribution" data-element=".row">
                            <i class="mdi mdi-delete" data-bs-toggle="tooltip" title="{{ phrase('Remove') }}"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-4 pe-0">
            <div class="d-grid">
                <button type="button" class="btn btn-secondary btn-sm d-block" role="add-attribution" data-label="{{ name }}[label][]" data-label-placeholder="{{ phrase('Label') }}" data-value-placeholder="{{ phrase('Value') }}" data-value="{{ name }}[value][]">
                    <i class="mdi mdi-plus-circle-outline"></i>
                    &nbsp;
                    {{ phrase('Add') }}
                </button>
            </div>
        </div>
    </div>
</div>