<div role="toolbar" class="alias-table-toolbar py-2 border-bottom">
    <div class="container-fluid">
        {# Include toolbar component #}
        {% include 'core/toolbar.twig' with results.toolbar %}
    </div>
</div>
<div role="grid" class="pt-3">
    <div class="container-fluid">
        <div class="row">
            {% for key, row in results.table_data %}
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div class="card border-0 shadow-sm rounded-4 overflow-hidden mb-3">
                        {% set break = false %}
                        {% for field in row.field_data %}
                            {% if not break and field.type == 'images' %}
                                <div id="slideshow_{{ key }}" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        {% for carousel_key, carousel_item in field.content %}
                                            <div class="carousel-item position-relative rounded-4 {% if carousel_key is same as(0) %} active {% endif %}">
                                                <a href="{{ carousel_item.url }}" target="_blank">
                                                    <div class="clip gradient-top rounded-top"></div>
                                                    <img src="{{ carousel_item.thumbnail }}" class="d-block rounded w-100" alt="...">
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <a class="carousel-control-prev gradient-right" href="#slideshow_{{ key }}" role="button" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    </a>
                                    <a class="carousel-control-next gradient-left" href="#slideshow_{{ key }}" role="button" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    </a>
                                </div>
                                
                                {% set break = true %}
                            {% elseif not break and field.type == 'image' %}
                                <a href="{{ field.url }}" target="_blank">
                                    <img src="{{ field.content }}" class="d-block rounded w-100" alt="...">
                                </a>
                                
                                {% set break = true %}
                            {% endif %}
                        {% endfor %}
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% for field in row.field_data %}
                                    {% if field.type != 'image' and field.type != 'images' %}
                                        <li class="list-group-item px-0">
                                            <label class="text-sm text-muted d-block">
                                                {{ field.label }}
                                            </label>
                                            {# Include table component #}
                                            {% include 'table/' ~ field.type ~ '.twig' with field %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="btn-group btn-group-sm d-flex">
                                {% for button in row.buttons %}
                                    <a href="{{ button.url }}" class="btn {{ button.class }}" data-bs-toggle="tooltip" title="{{ button.label }}" {% if button.new_tab %} target="_blank" {% endif %} {{ button.attribution | raw }}>
                                        <i class="{{ button.icon }}"></i>
                                    </a>
                                {% endfor %}
                                {% if row.dropdowns | length > 0 %}
                                    <a href="javascript:void(0)" class="btn btn-secondary --open-item-option" data-bs-toggle="tooltip" title="{{ phrase('More options') }}" data-options="{{ row.dropdowns | json_encode | escape }}">
                                        <i class="mdi mdi-format-list-bulleted"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div role="pagination" class="alias-pagination py-2 border-top">
    <div class="container-fluid">
        {# Include pagination component #}
        {% include 'core/pagination.twig' with pagination %}
    </div>
</div>