<div class="row">
    <div class="col">
        <div class="btn-group btn-group-sm">
            {% for key, button in buttons %}
                <a href="{{ button.url }}" class="btn {{ button.class }}" data-bs-toggle="tooltip" title="{{ button.label }}" {% if button.path == 'delete' %} data-bulk-delete="true" {% endif %} {% if button.new_tab %} target="_blank" {% endif %} {{ button.attribution | raw }}>
                    <i class="{{ button.icon }}"></i>
                    {% if button.path != 'delete' %} {{ button.label }} {% endif %}
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="col">
        <form action="{{ links.current_page }}" method="GET" class="form-horizontal">
            <div class="input-group input-group-sm">
                {% for name, filter in filters %}
                    {% if filter.type == 'text' %}
                        <input type="text" name="{{ name }}" value="{{ filter.values }}" placeholder="{{ filter.label }}" class="form-control">
                    {% elseif filter.type == 'select' %}
                        <select name="{{ name }}" placeholder="{{ filter.label }}" class="form-control">
                            {% for option in filter.values %}
                            <option value="{{ option.id }}" {% if option.selected %} selected {% endif %}>{{ option.label }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-primary">
                    <i class="mdi mdi-magnify"></i>
                </button>
            </div>
        </form>
    </div>
</div>